--find-links https://storage.googleapis.com/jax-releases/jax_releases.html
--find-links https://data.pyg.org/whl/torch-2.3.0+cu121.html

absl-py
torch
torch-geometric
pyg_lib
torch_scatter
torch_sparse
torch_cluster
torch_spline_conv 
rdkit
jax[cuda12]
e3nn_jax
flax
optax
jraph
ml_collections
wandb
nvtx
pandas